* {
  background-color: white;
  color: black;
  border: pink 1px dashed;
  padding: 9px;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-logo{
  background-color: #452222

}

.body{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
}


.footer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.job-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.nav{
  text-align: center;
}


.sprout, .becca, .iprospect, .orva, .tane-organics, .whiteandwarren{
  display: flex;
  justify-content: row;
}


























/* top navigation link formatting */

/* unvisited link */
a.top-nav:link {
  text-decoration: none;
  text-decoration: none;
  color: white;
}

/* visited link */
a{
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

/* mouse over link */
a:hover {
  color: #CE5B78;
  text-decoration: none;
}

/* selected link */
a:active {
  color: blue;
  text-decoration: none;
}

.header{
  background-color: #452222;
}

.top-nav{
  background-color: #452222;
}

a, nav, p{
  background-color: #452222;
}

p{
  color: white;
}
